:root {
  --Side-Bar-Width: 300px;
  --Standard-Text-Color: #e8f0fc;
  --Font: sans-serif;
  --Shaded-Color: #eeeded;
}
html {
  background-color: rgb(233, 233, 233);
  font-family: sans-serif;
}


body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
  line-height: 1.5;
}
p{
  color:rgb(209, 207, 207);
}
h1 {
  margin: 0;
  text-align: center;
  margin-left: -var(--Side-Bar-Width);
  font-size: 3.5rem;
  color: var(--Standard-Text-Color);
  font-family:var(--Font);
  font-weight: lighter;
  font-weight: bold;
}

.main{
  margin-left: var(--Side-Bar-Width);
  padding: 10px;
}

/* Side-Bar */
.navigation-bar {
  margin: 0;
  padding: 0;
  width: var(--Side-Bar-Width);
  background-color: #000000;
  position: fixed;
  height: 100%;
  overflow:hidden;
  box-shadow: 7px 14px 4px #000000a6;
  border-radius: 0px 25px 25px 0px;
}

/* .nav-links a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  font-family: var(--Font);
  color: var(--Standard-Text-Color);
  display: block;
  text-align: center;
  text-shadow: #000000;
  
}

.nav-links a:visited {
  color: var(--Standard-Text-Color);
}

.nav-links a:hover {
  color: grey;
} */

.ImageDeltaM{
padding: 75px;
}

.hamburger {
  display: none;
}

.skill {
  color: navy;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color:rgba(255,255,255,0.15);
  margin:0;
  text-decoration: none;
  
}
a.inset-text:link {
  /* Shadows are visible under slightly transparent text color */
  text-shadow: 1.4px 2px 2px var(--Shaded-Color), 0 0 0 rgba(0, 0, 0, 1);
  text-decoration: none;
}
a.inset-text:visited {
  /* Shadows are visible under slightly transparent text color */
  text-shadow: 1px 2px 2px var(--Shaded-Color), 0 0 0 rgba(0, 0, 0, 1);
  text-decoration: none;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: rgb(0, 0, 0); color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }
* {margin:0;}

.head {
position:relative;
left: 75px;
top: 25px;
}
.box-shadow{
  position: absolute;
  top:0; left:0; margin:0;
}
a.overlay:link {
position: absolute;
top: 0; left: -var(--Side-Bar-Width);
margin: 0;
text-decoration: none;
height: fit-content;
background-color: black;
color:var(--Standard-Text-Color);
mix-blend-mode: multiply;
}
a.overlay:visited {
  position: absolute;
  top: 0; left: 0;
  margin: 0;
  text-decoration: none;
  background-color: black;
  color:var(--Standard-Text-Color);
  mix-blend-mode: multiply;
  }
  a.overlay:hover {
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(141, 141, 141);
    
    }
