---
import DeltaMAstro from '/DeltaMAstro.svg';
import '../styles/global.css';
---
<div class="navigation-bar">

<div class="ImageDeltaM">
    <img src={DeltaMAstro} width="150" alt="DeltaMAstro" />
    <p>Anton Miolin</p>
</div>
<div class="bighead">
<div class="head">
        <a href="/" class="overlay">Home ‎ </a> 
        <a href="/" class="inset-text">Home</a> 
</div>
<div class="head">
    <a href="/experience/" class="overlay">Experience ‎ </a> 
    <a href="/experience/" class="inset-text">Experience</a> 
</div>
<div class="head">
        <a href="/projects/" class="overlay">Projects ‎ </a> 
        <a href="/projects/" class="inset-text">Projects</a>
</div>
<div class="head">
    <a href="/about/" class="overlay">About ‎ </a> 
    <a href="/about/" class="inset-text">About</a> 
</div>

</div>
</div>
